.register-form__content {
    width: 40%;
    margin: 50px auto;
}

.register-form__ttl {
    text-align: center;
    padding-right: 30px;
}

.register-form__inner {
    width: 100%;
    margin-top: 100px;
}

.register-form {
    width: 100%;
}

.register-form__group {
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
}

.register-form__text {
    font-weight: bold;
    margin: 0 0 5px 0;
    font-size: 18px;
}

.register-form__input {
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
    font-size: 20px;
}

.register-form__error-message {
    color: #f00;
    margin: 0;
    font-size: 18px;
}

.register-form__group--button {
    margin-top: 80px;
    width: 100%;
}

.register-form__button {
    width: 100%;
    height: 50px;
    background-color: #ff5555;
    color: #fff;
    border: 1px solid #ff5555;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.login__group {
    text-align: center;
    margin-top: 20px;
}

.login__link {
    color: #3690d6;
    text-decoration: none;
}